@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.Header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  color: #000;
}


.header_logo{
  margin : 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav_items{
  list-style-type: none;
  display: flex;
  gap : 50px;
  justify-content: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.nav_items a {
  float: left; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
}

.nav_listItems{
  list-style-type: none;
}

.Body{
  display: flex;
  margin : 80px;
  flex-wrap: wrap;
  gap : 40px;
  justify-content: flex-start;
  align-items: center;
}

.restraunt_card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap : 15px;
}

.Footer{
  display: grid;
  place-content: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.Shimmer{ 
    width: 450px;
    height: 400px;
    background: #ecebeb;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
  }

  .About{
    min-height: 100vh;
  }

  .Contact{
    min-height: 100vh;
  }


